<h1>Listando <%= (:services).to_s.classify.constantize.label %></h1>

<table class="table js-data-tables">
  <thead>
    <tr>
      <th><%= Service.label :after %></th>
      <th><%= Service.label :before %></th>
      <th><%= Service.label :created_at %></th>
      <th><%= TaskType.label :task_type %></th>
      <th><%= Place.label :place %></th>
      <th class="no-order"></th>
      <th class="no-order"></th>
      <th class="no-order"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= cool_date(service.after) %></td>
        <td><%= cool_date(service.before) %></td>
        <td><%= cool_date(service.created_at) %></td>
        <td><%= service.task_type.title %></td>
        <td><%= service.place.place_type.title %></td>
        <td><%= link_to '<i class="fa fa-eye"></i> Ver'.html_safe, service, class: "btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-trash"></i> Remover'.html_safe, service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <td><%= link_to "<i class=\"fa fa-#{Task.icon}\"></i> Criar Tarefa".html_safe, create_task_service_path(service), method: :create_task, class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>