<%= simple_form_for(@employee) do |f| %>
  <%= f.input :name %>
  <%= f.input :last_name %>
  <%= f.association :employee_type, collection: @employee_types, prompt: "Escolha um #{EmployeeType.label.downcase}", include_blank: false %>
  <%= f.input :email, autofocus: true  %><br />
  <%= f.input :password %>
  <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %>
  <%= f.input :password_confirmation, autocomplete: "off"  %><br />
  <%= f.input :cpf %>
  <%= f.input :rg %>
  <%= f.input :birth, as: :date %>
  <div class="actions">
    <%= f.button :submit, "Salvar #{Employee.label}", class: 'btn btn-success'  %>
  </div>
<% end %>
