<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @employee.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @employee.rg %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @employee.birth %>
</p>

<%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_employee_path(@employee), class: "btn btn-warning" %> |
<%= link_to '<i class="fa fa-arrow-left"></i> Voltar'.html_safe, employees_path, class: "btn btn-default" %>
