<div class="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong><%= Employee.label :name %></strong>
    <%= @employee.name %>
  </p>

  <p>
    <strong><%= Employee.label :last_name %></strong>
    <%= @employee.last_name %>
  </p>

  <p>
    <strong><%= Employee.label :email %></strong>
    <%= @employee.email %>
  </p>

  <p>
    <strong><%= EmployeeType.label %></strong>
    <%= @employee.employee_type.title %>
  </p>

  <p>
    <strong><%= Employee.label :cpf %></strong>
    <%= @employee.cpf %>
  </p>

  <p>
    <strong><%= Employee.label :rg %></strong>
    <%= @employee.rg %>
  </p>

  <p>
    <strong><%= Employee.label :birth %></strong>
    <%= cool_date(@employee.birth) %>
  </p>

  <strong><%= Task.label.pluralize %></strong>
  <div class="row"><% @employee.tasks.each do |tsk| %>
    <%= render partial: 'components/task_summary', locals: {task: tsk, hide_employee: true} %>
  <% end %></div>

  <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_employee_path(@employee), class: "btn btn-warning" %> |
  <%= link_to '<i class="fa fa-arrow-left"></i> Voltar'.html_safe, employees_path, class: "btn btn-default" %>
</div>