<p id="notice"><%= notice %></p>

<p>
  <strong><%= Employee.label :name %></strong>
  <%= @employee.name %>
</p>

<p>
  <strong><%= Employee.label :last_name %></strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong><%= Employee.label :email %></strong>
  <%= @employee.email %>
</p>

<p>
  <strong><%= EmployeeType.label %></strong>
  <%= @employee.employee_type.title %>
</p>

<p>
  <strong><%= Employee.label :cpf %></strong>
  <%= @employee.cpf %>
</p>

<p>
  <strong><%= Employee.label :rg %></strong>
  <%= @employee.rg %>
</p>

<p>
  <strong><%= Employee.label :birth %></strong>
  <%= @employee.birth %>
</p>

<p>
  <strong><%= Task.label.pluralize %></strong>
  <%= @employee.tasks.each do |task|%>
    <%= task%>
  <% end %>
</p>
<%= form_for @employee, url: assign_task_employee_path(@employee.id) do |f|%>
  <%= select_tag(:task_id, options_for_select(@tasks.collect { |task| [task.id, task.id] }), {:blank => false, :display => @tasks_select_disable})%>
  <%= f.submit %>
<% end %>

<%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_employee_path(@employee), class: "btn btn-warning" %> |
<%= link_to '<i class="fa fa-arrow-left"></i> Voltar'.html_safe, employees_path, class: "btn btn-default" %>
