<%= form_for(@task_type) do |f| %>
  <% if @task_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_type.errors.count, "error") %> prohibited this task_type from being saved:</h2>

      <ul>
      <% @task_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task_domain_id, TaskDomain.label %><br>
    <%= f.select(:task_domain_id, options_for_select(@task_domains.collect { |tdom| [tdom.title, tdom.id] }, @task_type.task_domain_id), prompt: "Escolha um #{TaskDomain.label.downcase}")%>
  </div>
  <div class="field">
    <%= f.label :title, TaskType.label(:title) %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :week_days, TaskType.label(:week_days) %><br>
    <%= f.text_field :week_days %>
  </div>
  <div class="field">
    <%= f.label :each_n_weeks, TaskType.label(:each_n_weeks) %><br>
    <%= f.text_field :each_n_weeks %>
  </div>
  <div class="field">
    <%= f.label :after_in_minutes, TaskType.label(:after_in_minutes) %><br>
    <%= f.text_field :after_in_minutes %>
  </div>
  <div class="field">
    <%= f.label :before_in_minutes, TaskType.label(:before_in_minutes) %><br>
    <%= f.text_field :before_in_minutes %>
  </div>
  <div class="field">
    <%= f.label :ignore_if_vacant, TaskType.label(:ignore_if_vacant) %><br>
    <%= f.check_box :ignore_if_vacant %>
  </div>
  <div class="field">
    <%= f.label :description, TaskType.label(:description) %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <!-- select_tag "people", options_from_collection_for_select(@people, "id", "name") -->
    <%= label :place_types, PlaceType.label %><br>
    <%= select_tag :place_types, options_from_collection_for_select(@place_types, :id, :title), prompt: "Escolha um #{PlaceType.label.downcase}", multiple: true%>
    
  </div>
  <div class="actions">
    <%= f.submit "Salvar #{TaskType.label}", class: 'btn btn-success' %>
  </div>
<% end %>
