<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "erro") %> impediram esta tarefa de ser criada:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :task_domain, TaskDomain.label %><br>
    <% tdom_id = @task.task_type_id.nil? ? nil : @task.task_type.task_domain_id %>
    <%= select_tag(:task_domain_id, options_for_select(@task_domains.collect { |tdom| [tdom.title, tdom.id] }, tdom_id), prompt: "Escolha um #{TaskDomain.label.downcase}")%>
  </div>
  <div class="field">
    <%= f.label :task_type, TaskType.label %><br>
    <%= f.select(:task_type_id, options_for_select(@task_types.collect { |ttyp| [ttyp.title, ttyp.id] }, @task.task_type_id), prompt: "Escolha um #{TaskType.label.downcase}")%>
  </div>
  <div class="field">
    <%= f.label :place, Place.label %><br>
    <%= f.select(:place_id, options_for_select(@places.collect { |pl| [pl.code, pl.id] }, @task.place_id), prompt: "Escolha um #{Place.label.downcase}")%>
  </div>
  <div class="field">
    <%= f.label :employee_id, Employee.label %><br>
    <%= f.select(:employee_id, options_for_select(@employees.collect { |emp| [emp.fullname, emp.id] }, @task.employee_id), prompt: "Escolha um #{Employee.label.downcase}")%>
  </div>
  <div class="field">
    <%= f.label :after, Task.label(:after) %><br>
    <%= f.datetime_select :after, default: 5.minutes.from_now, discard_year: (Date.current.month < 12) %>
  </div>
  <div class="field">
    <%= f.label :before, Task.label(:before) %><br>
    <%= f.datetime_select :before, default: 20.minutes.from_now, discard_year: (Date.current.month < 12)  %>
  </div>
  <div class="field">
    <%= f.label :details, Task.label(:details) %><br>
    <%= f.text_area :details %>
  </div>

  <div class="row">
    <div class="col-lg-5">
      <%= f.label :tools, Task.label(:tools) %><br>
      <table id="js-selected-tools" class="table table-condensed table-bordered">
        <% @task.tools.each do |t| %>
          <tr id="<%= t.id %>">
            <td>
              <%= check_box(:task, :tool_ids, {class: "js-each-tool", id: "task_tool_#{t.id}", data:{id: t.id}, include_hidden: false, multiple: true}, t.id) %>
            </td>
            <td><%= t.title %></td>
            <td><%= t.description %></td>
          </tr> 
        <% end %>
      </table>
    </div>
    <div class="col-lg-7">
      <table class="table table-condensed js-data-tables">
        <thead>
          <tr>
            <th class="no-order"></th>
            <th>Nome</th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
          <% @general_tools.each do |t| %>
            <tr id="<%= t.id %>">
              <td>
                <%= check_box(:task, :tool_ids, {class: "js-each-tool",id: "task_tool_#{t.id}", data:{id: t.id}, multiple: true, include_hidden: false}, t.id) %>
              </td>
              <td><%= t.title %></td>
              <td><%= t.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Salvar #{Task.label}", class: 'btn btn-success' %>
  </div>
<% end %>

<script type="text/javascript">
  $("form").on("click", ".js-each-tool", function(){
    if($(this).is(':checked')) {
      $("#js-selected-tools").append($(this).parents("tr"));
      var row = dataTable.row("#"+$(this).data("id")).remove().draw();
    } else {
      var tds = $(this).parents("tr").children();
      tds.children("input[type='checkbox']").removeAttr("checked");
      var elemArray = $.map(tds, function(val, i) {
        return(tds.eq(i).html());
      });
      dataTable.row.add(elemArray).draw();
      $(this).parents("tr").remove();
    }
  });
</script>
