<h1>Lista de Tarefas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Data de Início</th>
      <th>Data de Término</th>
      <th>Data de Check-in</th>
      <th>Data de Check-out</th>
      <th>Detalhes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.after %></td>
        <td><%= task.before %></td>
        <td><%= task.checkin_start %></td>
        <td><%= task.checkin_finish %></td>
        <td><%= task.details %></td>
        <td><%= link_to 'Exibir', task %></td>
        <td><%= link_to 'Editar', edit_task_path(task) %></td>
        <td><%= link_to 'Remover', task, method: :delete, data: { confirm: 'Você deseja remover esta tarefa?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Tarefa', new_task_path %>
