<h1>Lista de Tarefas</h1>

<table class="table js-data-tables">
  <thead>
    <tr>
      <th><%= Task.label :after %></th>
      <th><%= Task.label :before %></th>
      <th><%= Task.label :checkin_start %></th>
      <th><%= Task.label :checkin_finish %></th>
      <th><%= Task.label :details %></th>
      <th><%= Task.label :tools %></th>
      <th class="no-order"></th>
      <th class="no-order"></th>
      <th class="no-order"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.after %></td>
        <td><%= task.before %></td>
        <td><%= task.checkin_start %></td>
        <td><%= task.checkin_finish %></td>
        <td><%= task.details %></td>
        <td><%= task.tool_list %></td>
        <td><%= link_to '<i class="fa fa-eye"></i> Ver'.html_safe, task, class: "btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_task_path(task), class: "btn btn-warning" %></td>
        <td><%= link_to '<i class="fa fa-trash"></i> Remover'.html_safe, task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "<i class=\"fa fa-plus-circle fa-lg\"></i> Novo #{Task.label}".html_safe, new_task_path, class: "btn btn-primary" %>
