<p id="notice"><%= notice %></p>

<p>
  <strong>Data de início:</strong>
  <%= @task.after %>
</p>

<p>
  <strong>Data de término:</strong>
  <%= @task.before %>
</p>

<p>
  <strong>Data de check-in:</strong>
  <%= @task.checkin_start %>
</p>

<p>
  <strong>Data de check-out:</strong>
  <%= @task.checkin_finish %>
</p>

<p>
  <strong>Detalhes:</strong>
  <%= @task.details %>
</p>

<%= link_to 'Editar', edit_task_path(@task) %> |
<%= link_to 'Voltar', tasks_path %>
