<p id="notice"><%= notice %></p>

<p>
  <strong>Domínio de tarefa:</strong>
  <%= @responsibility.task_domain.title %>
</p>

<p>
  <strong>Tipo de funcionário:</strong>
  <%= @responsibility.employee_type.title %>
</p>

<%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_responsibility_path(@responsibility), class: "btn btn-warning" %> |
<%= link_to '<i class="fa fa-arrow-left"></i> Voltar'.html_safe, responsibilities_path, class: "btn btn-default" %>