<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @place_type.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place_type.description %>
</p>

<p>
  <strong>Restricted:</strong>
  <%= @place_type.restricted %>
</p>

<p>
  <strong>Common:</strong>
  <%= @place_type.common %>
</p>

<%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_place_type_path(@place_type), class: "btn btn-warning" %> |
<%= link_to '<i class="fa fa-arrow-left"></i> Voltar'.html_safe, place_types_path, class: "btn btn-default" %>
