<%= simple_form_for(@employee_type) do |f| %>
	<% if @employee_type.errors.any? %>
		<div class="alert alert-danger">
      <ul>
      <% @employee_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :code %>
  <%= f.input :description %>
  <div class="actions">
    <%= f.button :submit, "Salvar #{t(:employee_type)}", class: 'btn btn-success' %>
  </div>
<% end %>
