<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code, Place.label(:code) %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :compl, Place.label(:compl) %><br>
    <%= f.text_field :compl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
