<!DOCTYPE html>
<html>
<head>
  <title>RedShell</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<% if employee_signed_in? %>
	<p id="session_context" class="text-right">
		Bem vindo,<br/><%= current_employee.name %><br/>
		<%= link_to '<i class="fa fa-sign-out"></i> Sair'.html_safe, destroy_employee_session_path, method: :delete, class: "btn btn-default" %>
	</p>
	<% if current_employee.is_admin? %>
		<p>Você é especial</p>
	<% end %>
<% end %>
	<nav>
		<% ApplicationHelper.menu_items.each do |mi| %>
		<li>
			<% cls = mi.to_s.classify.constantize %>
			<%= link_to "<i class=\"fa fa-#{cls.icon}\"></i> #{cls.label}".html_safe, polymorphic_path(mi), class: "btn btn-xs btn-info" %>
		</li>
		<% end %>
	</nav>

<%= yield %>

<script type="text/javascript">
  var orderingArray = []
  $(".js-data-tables th").each(function(){
    if($(this).hasClass("no-order")){
      orderingArray.push({ "orderable": false });
    } else {
      orderingArray.push(null);
    }
  });
  var dataTable = $('.js-data-tables').DataTable( {
    pageLength: 10,
    "columns": orderingArray
  });
</script>

</body>
</html>
